#side-nav-container {
    top: 8.5%;
    left: 21px;
    width: 90px;
    transform: translateY(-5%);
    min-height: 90vh;
    max-height: 90vh;
}
* {
    margin: 0;
    padding: 0;
    text-decoration: none;
}
.container {
    display: flex;
    position: absolute;
}
main {
    width: 100%;
    padding: 20px;
}
.sidebar {
    background: #000;
    color: #fff;
    height: 97.8vh;
    width: 200px;
    transition: all 0.5s;
    border-radius: 7px;
}
.top_section {
    display: flex;
    align-items: center;
    padding: 20px 15px;
}
.logo {
    font-size: 30px;
}
.bars {
    display: flex;
    font-size: 25px;
    margin-left: 50px;
}
.link {
    display: flex;
    color: #fff;
    padding: 10px 15px;
    gap: 15px;
    transition: all 0.5s;
}
.link:hover {
    background: lightskyblue;
    color: #000;
    transition: all 0.5s;
}
.active {
    background: lightskyblue;
    color: #000;
}
.icon,
.link_text {
    font-size: 16px;
}