:root{
    --blue:#6729FF;
    --yellow:#E6CB0C;
    --brandColor:#1B1D21;
    --white:#FFFFFF;
    --black:#000000;
    --white-100:#F6F6F6;
    --white-500:#CFCFCF;
    --grey:#4E4E4E;
    --grey-100:#232323;
    --inputFiedColor:#707070;
}