:root {
    --blue: #6729FF;
    --yellow: #E6CB0C;
    --brandColor: #1B1D21;
    --white: #FFFFFF;
    --black: #000000;
    --white-100: #F6F6F6;
    --white-500: #CFCFCF;
    --grey: #4E4E4E;
    --grey-100: #232323;
    --inputFiedColor: #707070;
}

.main {
    transition: all 0.5s;
}

#root {
    width: 100vw;
    height: 100vh;
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}

.main-container {
    background-color: #e6e6ed;
    height: calc(100vh - 52px);
    border-radius: 5px;
    position: relative;
}

.custom-table-td-width {
    min-width: 150px !important;
}
.t-head {
    --bs-table-bg: black !important;
    --bs-table-color: white !important;
}

.cursor-pointer {
    cursor: pointer;
}
.input-border {
    border-color: var(--inputFiedColor) !important;
    border-radius: 10px !important;
}

.total-assissment-card{
    background: rgb(78,78,78);
    background: radial-gradient(circle, rgba(78,78,78,1) 0%, rgba(78,78,78,1) 10%, rgba(11,9,14,1) 83%);}


.total-assissment-card-selected{
    background: rgb(232,232,232);
background: radial-gradient(circle, rgba(232,232,232,1) 0%, rgba(201,201,201,1) 10%, rgba(178,178,184,1) 87%);
} 
