
.contact {
  height: 100%;
  max-width: 1366px;
  margin: auto;
  display: flex;
  align-items: center;
  gap: 50px;
}


.text-containers {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 40px;
}



.text-h1 {
  font-size: 100px;
  line-height: 88px;
}

.contact.mobile .textContainer h1 {
  font-size: 36px;
}

.contact .textContainer span {
  font-weight: 300;
}

.contact .formContainer {
  flex: 1;
  position: relative;
}

.contact.mobile .formContainer {
  padding: 50px;
  width: 100%;
}

.contact .formContainer .phoneSvg {
  stroke: orange;
  position: absolute;
  margin: auto;
  z-index: -1;
}

.contact .formContainer form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.contact .formContainer form input,
.contact .formContainer form textarea {
  padding: 20px;
  background-color: transparent;
  border: 1px solid white;
  color: white;
  border-radius: 5px;
}

.contact.mobile .formContainer form input,
.contact.mobile .formContainer form textarea {
  padding: 10px;
}

.contact .formContainer form button {
  padding: 20px;
  border: none;
  background-color: orange;
  cursor: pointer;
  font-weight: 500;
}

.contact.mobile .formContainer form button {
  padding: 10px;
}
