
.contact {
  min-height: 100%;
  max-width: 1366px;
  min-width: 90vw !important;
  margin: auto;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  gap: 50px;
}


.contact-textContainer {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 40px;
}



.contact-text-h1 {
  font-size: 4rem;
}


.contact-text-span {
  font-weight: 300;
}

.conatct-form-container {
  flex: 1;
  position: relative;
}



.contact-form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.conatct-input,
.conatct-textarea {
  padding: 20px;
  background-color: transparent;
  border: 1px solid white;
  color: white;
  border-radius: 5px;
}

.conatct-button {
  padding: 20px;
  border: none;
  background-color: orange;
  cursor: pointer;
  font-weight: 500;
  border-radius: 0.25rem;
}

@media screen and (max-width:768px) {
  .contact{
    width: 100vw !important;
    flex-direction:column;
    justify-content: center !important;
    flex-wrap: wrap;

  }
  .contact-text-h1{
    font-size: 2rem !important;
  }
.contact-textContainer{
  width: 100vw !important;

  flex-direction: row;
}
.conatct-form-container{
  padding:10px 2rem ;
  width: 100vw !important;
}
}