@media (max-width:430px) {
    #sideNavbar {
        position: absolute;
        left: -70px;
        width: 50px !important;
        z-index: 2;
    }

    .main {
        width: 100% !important;
    }

    .nav-arrow {
        left: -30px !important;
    }

    .link_text {
        display: none !important;
    }
}