
.portfolio {
  position: relative;
}
.single-section{
  width: 100% !important;
  overflow: hidden !important;
}
.progress {
  position: sticky;
  top: 0;
  left: 0;
  height: 61px;
  display: flex;
  flex-direction: column;
  z-index: 5;
}

.portfolio-text-h1{
    text-align: center;
    color: orange;
    font-size: 36px;
}


.progressBar {
  height: 10px;
  background-color: orange;
}

.portfolio-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  min-height: 100vh;
  overflow: hidden !important;
}

.portfolio-wrapper {
  /* max-width: 1366px;
  height: 100%;
  margin: auto;
  display: flex; */
  align-items: center;
  justify-content: center;
  /* gap: 50px; */
}


.portfolio-image-container {
  height: 100%;
  width: 50%;
  overflow: hidden;
}



.portfolio-img {
  /* width: 100%;
  height: 100%;
  object-fit: cover; */
  width: 30rem;
  height: 30rem;
}

.portfolio .container .wrapper.mobile .imageContainer img {
  object-fit: contain;
}

 .portfolio-text-container {
   padding-right: 2.5rem !important;
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.portfolio-text-h2 {
  /* font-size: 40px;
   */
   padding-top: 60px ;
   font-size: 1.5rem;
}


.portfolio-text-p {
  color: gray;
  font-size: 20px;
}

.portfolio-button {
  background-color: orange;
  border: none;
  border-radius: 10px;
  padding: 10px;
  width: 200px;
  cursor: pointer;
}

@media screen and (max-width:1024px) {
  .portfolio-text-h1{
    font-size: 2rem !important;
  }
  .portfolio-text-p{
  font-size: 1.5rem !important;
  }
}
@media screen and (max-width:768px) {
  .portfolio-container{
    height: auto;
    width: 100%;

    min-height: 100vh !important;
  }
  .portfolio-wrapper{
    width: 100%;
  }
  .portfolio-image-container{
    width: 100%;
  }
  .portfolio-text-container{
   padding-right: 1rem !important;
    min-height: 90vh !important;
  }
  .portfolio-text-h2{
    margin-top: 30px !important;
    font-size: 1.5rem !important;
    text-wrap: wrap !important;
    width: 100% !important;
  }
  .portfolio-text-p{
    font-size: 1rem !important;
    text-align: justify ;
  }
  .single-section{
    height: auto !important;
    width: 100%;
    min-height: 80vh !important;
  }
}